* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

/* Navbar */
.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

#Menu_Off:hover {
  cursor: pointer;
}

/* Landing */
.landing {
  width: 100%;
  margin-top: 15vh;
}

/* Carousel */
.carousel-home {
  background-image: url("/images/Mask-Group-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 39vw;
  margin: auto;
}

/* Intro Section */
.intro {
  width: 87%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.intro p {
  font-size: 24px;
  width: 56%;
}

/* link box section */
.links {
  width: 87%;
  margin: auto;
  padding-bottom: 80px;
}

.link-row {
  display: flex;
  justify-content: space-between;
}

.box {
  height: 201px;
  width: 33%;
  background-color: #061c2c;
  margin-bottom: 25px;
  padding: 2%;
  cursor: pointer;
}

.box-text {
  color: #ffffff;
  width: 60%;
  font-size: 32px;
  text-transform: uppercase;
}

.minibox-item {
  width: 16.25%;
  height: 38px;
  background-color: #244ac2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  cursor: pointer;
}

.minibox-item-text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
