@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  padding: 55px 0px;
  top: 0;
  z-index: 99;
}

#logo-2 {
  transition: 0.4s;
  width: 100%;
}

@media screen and (max-width: 580px) {
  #logo-2 {
    width: 90%;
  }
}

#Menu_Off:hover {
  cursor: pointer;
}

/* Landing */
.landing {
  width: 100%;
  margin-top: 18vh;
}

/* Carousel */
.carousel-home {
  background-image: url("/images/Mask-Group-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 94vh;
  width: 84vw;
  margin: auto;
}

/* Intro Section */
.intro {
  width: 78.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.intro p {
  font-size: 24px;
  width: 60%;
  font-weight: 300;
}

/* link box section */
.links {
  width: 78.5%;
  margin: auto;
  padding-bottom: 80px;
}

.link-row {
  display: flex;
  justify-content: space-between;
}

.box {
  height: 201px;
  width: 32%;
  background-color: #061c2c;
  margin-bottom: 25px;
  padding: 2%;
  cursor: pointer;
}

.box-text {
  color: #ffffff;
  width: 75%;
  font-size: 32px;
  text-transform: uppercase;
}

.minibox-item {
  width: 15%;
  height: 38px;
  background-color: #244ac2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  cursor: pointer;
}

.minibox-item-text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

/* Info Home on Page */

.home-info {
  background-color: #061c2c;
  padding-top: 80px;
  padding-bottom: 80px;
}

.info-first-row {
  color: #ffffff;
  width: 78.5%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}

.info-box-tri {
  width: 32%;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: #dbe0e6;
  margin-bottom: 20px;
}
.info-textbox {
  width: 50%;
}

.info-header {
  color: #29a4e6;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.large {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 40px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
  font-size: 20px;
}

.info-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#info-icon {
  margin-right: 20px;
}

.info-box-duo {
  display: flex;
  justify-content: space-between;
  width: 78.5%;
  margin: auto;
}

.duo-1 {
  width: 32%;
}

.duo-2 {
  width: 66%;
}

.stats {
  display: flex;
  width: 16vw;
}

.stat-info {
  margin-left: 25px;
}

.v-team {
  width: 15vw;
}

.team {
  width: 17vw;
}
